@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RegisterUser web app</h1>
    <h3>Navigate to the 'Users' tab bar to show all data in database</h3>
    <br />
    <p>Learn about <a href="https://www.youtube.com/watch?v=swts3xjSrU4"><br />How to utilise GUI on this ASP.NET Web App</a>.</p>
</div>
