@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style ="font-size:20px; color:silver;">
    My web app is designed for educational purposes only,
    and is not intended for commercial use or mass distribution. 
    Please use it with care, and avoid creating large numbers of clones. 
    Any unauthorized use is strictly prohibited and may result in legal action. 
    Let's work together to create an ethical community of developers who value creativity, 
    innovation, and collaboration. Thank you for your cooperation and support.</p>
